.particles {
    margin: 0 auto;
    width: 50%;

    .controls {
        position: relative;
        text-align: center;
        z-index: 1001;

        .btn {
            color: #fff;
            font-size: 2em;
        }
    }
}
